<div class="right-aside">
    <div class="right-page-header">
        <div class="d-flex">
            <div class="align-self-center">
                <h4 class="card-title m-t-10">Project / Personnel List </h4>
            </div>
            <div class="ml-auto">
                <input type="text" id="demo-input-search2" placeholder="search personnel" class="form-control">
            </div>
        </div>
    </div>
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">Sorry :(</h1>
            <p class="lead">Personnel Not Found.</p>
        </div>
    </div>
    <!-- .left-aside-column-->
</div>