@model TriodorArgeProject.Entities.EntityClasses.WorkExperiences
<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <form action="/Certificate/AddCertificate/" enctype="multipart/form-data" method="post">
                <div class="form-body">
                    <div class="row p-t-20">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="registerno">Certificate Description :</label>
                                <input type="text" class="form-control" id="certificate" name="certificate">
                            </div>
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-info">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
